body {
    background: #f2f2f2;
}
.l-container {
    width: 400px;
    margin: 5% auto;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 3px rgba(0, 0, 0, .1);
    border: 1px solid #d3d3d3;
    font-size: 14px;
    color: #70747c;
}
[alt="separator"] {
    padding: 20px 0;
    margin:0 auto;
    display:block;
}
[alt="icon"] {
    float: left;
    padding-right: 10px;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    color: #303030;
}
h2:last-of-type {
    margin-top:0;
}
.l-container > p:first-of-type {
    border-top: 1px solid #d3d3d3;
    padding-top:16px;
}
.l-container > p:last-of-type {
    margin-bottom:0;
}
.extendSection {
  border-top: 1px solid #d3d3d3;
  padding-top:20px;
  margin-top:20px;
}
.extendSection a {
    font-size: 12px;
    color: #fff;
    background: linear-gradient(to left, #01c2fb, #03a7ff);
    border-radius: 4px;
    padding: 8px 20px;
    text-decoration: none;
    display:inline-block;
    position:relative;
    margin-left:75%;
    white-space:nowrap;
}
.details {
    display: none;
}

